.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px tgba(0,0,0,0.1);
    margin-bottom : 20px
}
 
.product-card img {
    max-width: 100%;
    height: auto;
}
 
.product-card h3 {
    margin: 10px 0;
}
 
.product-card p {
    color: #888;
    margin-bottom: 10px;
 
}
 
.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}